appsettings.Development.json
appsettings.json

# Thư mục build
bin/
obj/
out/

# Visual Studio
.vs/
.ipch/

# NuGet
*.nupkg
*.snupkg
packages/
project.lock.json
project.assets.json
.nuget/

# Config & Log
*.user
*.suo
*.userosscache
*.sln.docstates
*.log
*.cache
*.pdb

# OS
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store

# ASP.NET Core
*.pfx
*.p12
publish/

# Docker
.dockerignore
**/Dockerfile
**/docker-compose*